<!DOCTYPE html>
<html xmlns:th="http://www.themyleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/default" lang="en">

<head>
<title>Pixel Admin</title>
</head>

<body>
	<div id="wrapper">
		<div id="page-wrapper">
			<div class="container-fluid" layout:fragment="content">
				<div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Chi tiết thành viên</h4>
					</div>
				</div>
				<!-- /.row -->
				<!-- .row -->
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<div class="white-box">
							<div class="user-bg">
								<img width="100%" alt="user" th:src="@{/plugins/images/large/img1.jpg}">
								<div class="overlay-box">
									<div class="user-content">
										<a href="javascript:void(0)"><img
											th:src="${avatar}"
											class="thumb-lg img-circle" alt="img"></a>
										<h4 class="text-white" th:text="${fullName}">Nguyễn Văn Tèo</h4>
										<h5 class="text-white" th:text="${email}">info.teo@gmail.com</h5>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-8 col-xs-12">
						<!-- BEGIN THỐNG KÊ -->
						<div class="row">
							<!--col -->
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" th:each="statisticalNumber: ${statisticalNumbers}">
								<div class="white-box">
									<div class="col-in row">
										<div class="col-xs-12">
											<h3 class="counter text-right m-t-15 text-danger" th:text="${statisticalNumber.value} + '%'">20%</h3>
										</div>
										<div class="col-xs-12">
											<i data-icon="E" class="linea-icon linea-basic"></i>
											<h5 class="text-muted vb text-center" th:text="${statisticalNumber.key}">CHƯA BẮT ĐẦU</h5>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="progress">
												<div class="progress-bar progress-bar-danger"
													role="progressbar" aria-valuenow="40" aria-valuemin="0"
													aria-valuemax="100" th:style="'width:'+ ${statisticalNumber.value}+'%;'"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /.col -->
						</div>
						<!-- END THỐNG KÊ -->

					</div>
				</div>
				<br />
				<!-- /.row -->
				<!-- BEGIN DANH SÁCH CÔNG VIỆC -->
				<h4>DANH SÁCH CÔNG VIỆC</h4>
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<div class="table-responsive">
								<table class="table" id="example">
									<thead>
										<tr>
											<th>STT</th>
											<th>Tên Công Việc</th>
											<th>Dự Án</th>
											<th>Ngày Bắt Đầu</th>
											<th>Ngày Kết Thúc</th>
											<th>Trạng Thái</th>
											<th>Hành Động</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="task: ${allTaskInUser}">
											<td th:text="${task.id}">1</td>
											<td th:text="${task.name}">Phân tích dự án</td>
											<td th:text="${task.projectName}">Dự án CRM</td>
											<td th:text="${task.startDate}">22/05/2019</td>
											<td th:text="${task.endDate}">30/05/2019</td>
											<td th:text="${task.statusName}">Đã hoàn thành</td>
											<td><a th:href="@{/task/updateStatus(id=${task.id})}"
												class="btn btn-sm btn-primary">Cập nhật</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- END DANH SÁCH CÔNG VIỆC -->
			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>
</body>

</html>