<!-- /#wrapper -->
<!-- jQuery -->
<script xmlns:th="http://www.themyleaf.org"
	th:src="@{/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script xmlns:th="http://www.themyleaf.org"
	th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- Menu Plugin JavaScript -->
<script xmlns:th="http://www.themyleaf.org"
	th:src="@{/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js}"></script>
<!--slimscroll JavaScript -->
<script xmlns:th="http://www.themyleaf.org"
	th:src="@{/js/jquery.slimscroll.js}"></script>
<script xmlns:th="http://www.themyleaf.org"
	th:src="@{/js/jquery.dataTables.js}"></script>
<!--Wave Effects -->
<script xmlns:th="http://www.themyleaf.org" th:src="@{/js/waves.js}"></script>
<!-- Custom Theme JavaScript -->
<script xmlns:th="http://www.themyleaf.org"
	th:src="@{/js/custom.min.js}"></script>
<script xmlns:th="http://www.themyleaf.org"
	th:src="@{/js/sweetalert.min.js}"></script>
<script xmlns:th="http://www.themyleaf.org"
	th:src="@{/plugins/bower_components/dropzone/dropzone.js}"></script>
<script>
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>