<!DOCTYPE html>
<html xmlns:th="http://www.themyleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/default" lang="en">
<head>
<title>Danh sách quyền</title>
</head>

<body>
	<!-- Preloader -->
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<div id="wrapper">
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid" layout:fragment="content">
				<div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Danh sách quyền</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 text-right">
						<a th:href="@{/role/add}" class="btn btn-sm btn-success">Thêm
							mới</a>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<div class="table-responsive">
								<table class="table" id="example">
									<thead>
										<tr>
											<th>STT</th>
											<th>Tên Quyền</th>
											<th>Mô Tả</th>
											<th>Hành Động</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="role: ${roles}">
											<td th:text="${role.id}">1</td>
											<td th:text="${role.name}">ROLE_ADMIN</td>
											<td th:text="${role.desc}">Quản trị hệ thống</td>
											<td><a th:href="@{/role/edit(id=${role.id})}"
												class="btn btn-sm btn-info"> <i
													class="fa fa-pencil-square-o"></i>
											</a> <a th:href="@{/role/delete(id=${role.id})}"
												class="btn btn-sm btn-danger"> <i class="fa fa-trash-o"></i>
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<script layout:fragment="myScript">
		let msgSuccess = "[[${msgSuccess}]]"
		let msgError = "[[${msgError}]]";
		if (msgSuccess) {
			swal("Thành công", msgSuccess, "success");
		}
		if (msgError) {
			swal("Thất bại", msgError, "error");
		}
	</script>
</body>

</html>